.products {
  padding: 4rem;
}
.topbar {
  display: flex;
  gap: 1rem;
}
.btn-container button {
  background-color: transparent;
  font-size: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.btn-container button svg {
  display: block;
}
.btn-container button.active {
  background-color: black;
  color: white;
}
.count {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 0.5rem;
}
.count span {
  font-size: 1.6rem;
}
.count p {
  font-size: 1.4rem;
  font-weight: 200;
}

.sort label {
  font-size: 1.6rem;
  margin-right: 0.8rem;
}
.sort select {
  padding: 0.8rem;
  font-size: 1.4rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.main-products {
  width: 30%;
  position: relative;
  margin: 2rem 0;
  margin-right: 3rem;
}

.main-products img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.main-products:hover .overlay-container,
.main-products:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.main-products--details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.main-products p {
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.main-products span {
  font-size: 2rem;
  color: #c38d5f;
  font-weight: 200;
  letter-spacing: 0.2rem;
}

.container {
  position: relative;
}

.overlay-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}
.single-product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #ab7a5f;
  border-radius: 50%;
}
.single-product svg {
  width: 2rem;
  height: 2rem;
  fill: white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.main-products__row {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0;
}

.main-products__row img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
}

.main-products__row--details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.main-products__row--details h4 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
}
.main-products__row--details span {
  font-size: 1.8rem;
  color: #c38d5f;
}
.main-products__row--details p {
  font-size: 1.5rem;
  font-weight: 200;
}

.main-products__row--details a {
  display: inline-block;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  color: white;
  font-weight: 200;
  background-color: #ab7a5f;
  border-radius: 2px;
  transition: all 0.4s;
  text-decoration: none;
}
.loader{
  height: 12rem;
  width: 12rem;
  border: 1rem solid gray;
  border-top:1rem solid #C38D5F;
  border-radius: 50%;
  animation: load 1s linear infinite;
}

@keyframes load {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
.loading{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .products {
    padding: 4rem 1rem;
  }
  .main {
    justify-content: space-between;
  }
  .main-products {
    width: 40%;
  }
}
@media (max-width:800px){
    .btn-container{
        display: none;
    }
    .main-products{
        width: 100%;
        object-fit: cover;
    }
    .main{
        flex-direction: column;
      }
      .main-products img {
        height: 30rem;
      }
}
@media (max-width:600px){
    
}