.sidebar-container{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1rem;
    position: sticky;
    top: 1rem;
}
.sidebar-container input,
.sidebar-container button,
.sidebar-container select{
    align-self: flex-start;
}
.search{
    padding: 1rem;
    width: 20rem;
    border: none;
    color: #777;
    font-size: 1.5rem;
    background-color: #F1F5F8;
}
.search:focus{
    outline: none;
}
.search::placeholder{
    font-size: 1.5rem;
    color: rgba(0,0,0,0.5);
}
.sidebar-container h4{
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
}
.sidebar-container button{
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    font-weight: 200;
    color: black;
    text-transform: capitalize;
    cursor: pointer;
}
.sidebar-container select{
    background-color: #F1F5F8;
    border: none;
    padding: 1rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    cursor: pointer;
}
.sidebar-container select:focus{
    outline: none;
}
.sidebar-container p{
    font-size: 1.5rem;
}
.check{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.check input{
    cursor: pointer;
}
.check label{
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
}