.products-container{
    display: flex;
}
.sidebar{
    flex-basis: 20%;
}
.main{
    flex-basis: 80%;
}
@media (max-width:600px){
    .products-container{
        flex-direction: column;
    }
}