.nav ul{
    display: flex;
    list-style: none;
    gap: 6rem;
}

.nav ul li a:active,
.nav ul li a:link{
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: 200;
}

.nav ul li a:hover,
.nav ul li a.active{
    border-bottom: 2px solid #AB7B60;
}

@media (max-width:800px){
    .nav{
        display: none;
    }
}