.pagenav{
    background-color: #EADED7;
    padding: 3rem 2rem;
}
.pagenav h3{
    font-size: 3.5rem;
}
.pagenav h3 a{
    text-decoration: none;
    color: #795744;
    margin-right: 2rem;
}
.pagenav h3 span{
    color: #453227;
    margin-left: 2rem;
}